body{
    background-image: url(../images/sub.jpg);
    background-size: cover;
    text-align: center;
}

h1{
    background-color: bisque;
    font-size: xx-large;
    color: brown;
    font-weight: bold;
}

h2{
    background-color: bisque;
    font-weight: bold;
    position: center;
    margin-bottom: 5px;
    border-radius: 5px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn{
    background: darkred;
}

#clear-btn{
    background: ;
}